*.asc
*.orig
*~
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
build_mingw
config.guess
config.h.in
config.rpath
config.status.lineno
config.sub
configure
configure.lineno
configure.scan
debug
depcomp
gengetopt-*.tar.gz
gengetopt.kdevelop.pcs
gengetopt.kdevses
libtool
stamp-h
stamp-h.in
